{
  "plugins": [
    "prettier-plugin-svelte",
    "prettier-plugin-organize-imports",
    "prettier-plugin-tailwindcss"
  ],
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "insertPragma": false,
  "quoteProps": "consistent",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true,
  "useTabs": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": false
}
